body {
    
}

#search {
    color: #ffffff;
    background-color: olivedrab;
    outline: none;
    min-height: 40px;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    cursor: pointer;
    padding: .5rem 1rem;
    line-height: 1.5;
    border-radius: .5rem;
}

#searchValue {
    width: 600px;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    line-height: 1.5;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: .5rem;
    margin-bottom: 1rem;

}